/* FONT IMPORT */
@font-face {
  font-family: "Rency";
  src: url("../fonts/rency.woff2");
  src: url("../fonts/rency.woff2") format("embedded-opentype"),
    url("../fonts/rency.woff2") format("truetype");
  font-display: swap;
}

:root {
  --color-primary: #dde2e8;
  --color-text: #000000;
  --border-radius-base: 0.6rem;
  --transition-base: all 0.4s cubic-bezier(0.7, 0, 0.2, 1) 0ms;
  --desktop-max-width: 1200px;
}

* {
  font-family: "Rency", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}